/* stamped app CSS */

/* home.html, map formatting */
#navi { border-bottom: 1px solid  rgba(0, 0, 0, 0.5); width: 100%;}
#feed { margin-left: 65px; vertical-align: bottom;}
.navi_text { margin-bottom: 3px; text-decoration: none;}

#map-canvas, #map_canvas { height: 450px; margin: 0px 65px 15px 65px;}

#panel {
  position: absolute;
  top: 52px;
  left: 35%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

input { border: 1px solid  rgba(0, 0, 0, 0.5);}

input.notfound { border: 2px solid  rgba(255, 0, 0, 0.4);}

/* dashboard formatting */
#feed_stream 	 { margin-left: 65px;}
.top_choice_div	 { display: inline-block; margin: 2px; border: 2px; }
.top_choice_list { list-style: none; text-align: center;}
.choice_cat_name { font-weight: bold;}

/* restaurant results */
#results		{ margin-left: 65px; margin-right: 65px; width: 100%;}
#results h1		{ font-size: 75px; margin: 0;}
#restaurant_pic { display: inline-block;}
#restaurant_pic img { height: 300px; }
#restaurant_info { display: inline-block; font-size: 22px;} 
#restaurant_info ul { list-style: none; }

/* Reviews */

#review_user  {display: inline-block;}
#review_user img 	{ height: 120px;}
#review_user p {text-align: center;}
#review_content {display: inline-block;}
#review_content p {vertical-align: center; text-align: right;}

/* comment section */
#comment_div {margin-left: 25px; width: 100%;}
#comment_user  {display: inline-block;}
#comment_user img 	{ height: 60px;}
#comment_user p {text-align: center;}
#comment_content {display: inline-block;}
#comment_content p {vertical-align: center; text-align: right;} 
