/* stamped app CSS */

/* home.html, map formatting */
html {font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", sans-serif;}
#navi { border-bottom: 2px solid black; width: 100%;}
#navi_elements { margin-left: 15%; vertical-align: bottom;}
#navi_elements ul	{list-style: none; margin-bottom: 3px; margin-top: 0; padding-left: 0px;}
.navi_icon { display: inline-block; padding-right: 10px;}
.navi_icon img  { height: 35px;}

#map-canvas, #map_canvas { 
height: 450px;
width: 70%;
margin: 0px 65px 15px 65px; 
margin-left: 15%;
}

#panel {
margin-left: 38%;
z-index: 999;
position: absolute;
left: 0;
}

input { border: 1px solid  rgba(0, 0, 0, 0.5);}

input.notfound { border: 2px solid  rgba(255, 0, 0, 0.4);}

/* dashboard formatting */
#feed_stream 	 { margin-left: 15%; width: 70%;}
.top_choice_div, #recently_added_Restaurants, #recent_reviews { display: inline-block; margin: 2px; border: 2px; }
.top_choice_list, #rar_list, #rr_list { list-style: none; text-align: center; border: 3px solid black; border-radius: 18px; padding: 9px;}
.choice_cat_name, #rar_name, #rr_name  { font-weight: bold;}



/* restaurant results */
#results		{ margin-left: 15%; margin-right: 65px; width: 100%;}
#results h1		{ font-size: 75px; margin: 0;}
#restaurant_pic { display: inline-block;}
#restaurant_pic img { height: 300px; }
#restaurant_info { display: inline-block; font-size: 22px;} 
#restaurant_info ul { list-style: none; }

/* Reviews */

.review_user  {display: inline-block;}
.review_user img 	{ height: 120px;}
.review_user p {text-align: center;}
.review_content {display: inline-block;}
.review_content p {vertical-align: center; text-align: right;}

/* comment section */
.comment_div {margin-left: 25px; width: 100%;}
.comment_user  {display: inline-block;}
.comment_user img 	{ height: 60px;}
.comment_user p {text-align: center;}
.comment_content {display: inline-block;}
.comment_content p {vertical-align: center; text-align: right;} 

/* upload / create section  */
/*#upload_submit {display: inline-block;}*/
input[type="submit"] { 
	background: none;
	border-radius: 5px;
	font-family: Impact;

}
input[type="text"] { 
	width: 100%;
}
#register {
	margin: 5px;
	text-decoration: none;
	color: black;
}