<!DOCTYPE html>
<!-- stamped home page -->
<html>
  <head>
    <title>Stamped</title>
    <link type="text/css" href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script language="JavaScript" type="text/javascript" src="{{ STATIC_URL }}js/map.js"></script>
    <script language="JavaScript" type="text/javascript" src="{{ STATIC_URL }}js/home_jquery.js"></script>
    <script language="JavaScript" type="text/javascript" src="{{ STATIC_URL }}js/jquery_cookie/jquery.cookie.js"></script>
  </head>
  <body>
    <div id="navi">
        <div id="navi_elements">
          <ul>
          <li class="navi_icon"><a href="{% url 'home' %}"><img src="{{ STATIC_URL }}imgs/stamped_icon.png"></a></li>
          {% if user.is_authenticated %}
          <li class="navi_icon"><a href="{% url 'logout_view' %}"><img src="{{ STATIC_URL }}imgs/logout.png"></a></li>
          {% else %}
          <li class="navi_icon"><a href="{% url 'django.contrib.auth.views.login' %}"><img src="{{ STATIC_URL }}imgs/login.png"></a></li>
          {% endif %}
          </ul>
        </div>
    </div>
    <div id="panel">
      <input id="searchTextField" type="text" size="50">
    </div>
    <div id="map-canvas"></div>
    <div id="results">{% block results %}{% endblock %}</div>
    {% block footer %}
    {% endblock %} 
