{% extends x|yesno:"stamped/blank.html,stamped/home.html" %}
{% load stamped_custom_tags %}
{% block results %}

<!-- Restaurant Information -->
<h1>{{ restaurant.name }}</h1>
<div id='restaurant_pic'>
	<img src="{{ restaurant.profile_picture.url }}">
	{% if restaurant.stamped_out %}
	<img id='stamped_out' src="{{ STATIC_URL }}imgs/stamped_out.png">
	{% endif %}
</div>
<div id='restaurant_info'>
	<ul>
		{% if restaurant.stamped_out %}
		<li>This restaurant has been stamped out. <br> DONT EAT HERE!</li>
		{% endif %}
		<li>Rating: {{ restaurant.rating|floatformat|default:'Needs to be rated first.' }}</li>
		{% with restaurant.review_set.all|first as r_set %}
		<li>Rating Vs. Stamped Community:<br>{% pctChange "restaurant.rating r_set.avg_rating" %} above the average rating.</li>
		{% endwith %}
		<li>Stamped Out Count: {{ restaurant.stamped_out_count }}</li>
		<li>{{ restaurant.address }}</li>
		<li>{% timePosted restaurant.date_added %}</li>		
		<li>Put your stamp on it! Write a 
			<form class='restaurant_action' method='POST' action="{% url 'add_review' %}">
				{% csrf_token %}
				<input type='hidden' value='{{ restaurant.id }}' name="rest_id">
				<input type='submit' value='Review' name="prepair_review">
			</form>
		</li>
		<li>Does this restaurant suck? Well, Then
			<form class='restaurant_action' method='POST' action="{% url 'stamp_out' %}">
				{% csrf_token %}
				<input type='hidden' value='{{ restaurant.id }}' name="rest_id">
				<input type='submit' value='Stamp IT Out!' name="stamp_out">
			</form>
		</li>
	</ul>
</div>
<!-- Reviews on Restaurant -->
<div id='reviews_bin'>
	<h2>Reviews:</h2>
	<script type="text/javascript">
	
	var data = {{ rating_list }},
		h = 100,
		w = 900,
		p = [0.02, 17];

	// xscale
	var xscale = d3.scale.ordinal()
				.domain(d3.range(data.length))
				.rangeBands([0,w],p[0]);  	
	// yscale
	var yscale = d3.scale.linear()
		.domain([0, d3.max(data)])
		.range([0, h]);

	// color scales
	var colorscale = d3.scale.linear()
		.domain([d3.min(data), d3.max(data)])
		.interpolate(d3.interpolateHcl)
		.range(["#FF5050", "#214592"]);

	//Create SVG element
	var svg = d3.select("#reviews_bin")
		.insert("svg", 'div')
		.attr({
	           width: w,
	           height: h
	   });

	var rects = svg.selectAll('rects')
		.data(data);
	
	rects.enter()
		.append('rect')
		.attr({
	      width: xscale.rangeBand(),
	      height: yscale,
	      x: function(d,i){return xscale(i);},
	      y: function(d) {return h - yscale(d);},
	      fill: function(d){return colorscale(d);}
		});

	svg.selectAll("text")
     	.data(data)
   		.enter().append("text")
   		.attr({
   			x: function(d,i) { return xscale(i) + xscale.rangeBand() / 2; },
   			y: function(d) {return h - yscale(d);},
   			dy: p[1],
   			dx: ".35em",	
   			"text-anchor": "middle",
   			fill: 'white'
   		})
   		.text(String);

	</script>

	{% with restaurant.review_set.all|dictsortreversed:"date_added" as reviews %}
	{% for r in reviews %}
	<div class="review_div">
		<div class='user_review'>
			<div class='review_user'>
				<img src="{{ r.user.user_meta.profile_picture.url }}">
				<p>Review by {{ r.user.username }}</p>
				<p>Rating: {{ r.rating|floatformat }}</p>
				<p>User Average Rating: {{ r.user.user_meta.avg_rating|floatformat }}</p>
				<p>User Average Rating Vs Golbal:<br>{% pctChange "r.user.user_meta.avg_rating r.avg_rating" %} above the average user rating.</p>
				<p>Restaurant: {{ r.restaurant.name }}</p>
				<p>{% timePosted r.date_added %}</p>
			</div> 
			<div class='review_content'>
				{% if user == r.user %}
				<img src="{{ STATIC_URL }}imgs/your_stamp.png">
				{% endif %}
				<p>"{{ r.content }}"</p>
			</div>
			<div>
				<form method='POST' action="{% url 'add_comment' %}">
					{% csrf_token %}
					<input type="hidden" name='review_id' value='{{ r.id }}'>
					<input type='submit' name="prepair_comment" value="Comment">
				</form>
			</div>
		</div>
		<!-- Comments on reviews -->
		{% with r.comment_set.all as comment %}
		{% for c in comment %}
		<div class="comment_div">
			<div class="comment_user">
				<img src="{{ c.user.user_meta.profile_picture.url }}">
				<p>Comment by {{ c.user.get_full_name }}</p>
				<p>{% timePosted c.date_added %}</p>
			</div>
			<div class="comment_content">
				<p>{{ c.content  }}</p>
			</div>
		</div>
		{% endfor %}
		{% endwith %}
	</div>
	{% endfor %}
	{% endwith %}
</div>
{% endblock %}