{% extends x|yesno:"stamped/blank.html,stamped/home.html" %}
{% load stamped_custom_tags %}
{% block results %}
<h1>{{ restaurant.name }}</h1>

<div id='restaurant_pic'>
	<img src="{{ restaurant.profile_picture.url }}">
	{% if restaurant.stamped_out %}
	<img src="{{ STATIC_URL }}imgs/stamped_out.png">
	{% endif %}
</div>
<div id='restaurant_info'>
	<ul>
		{% if restaurant.stamped_out %}
		<li>This restaurant has been stamped out. DONT EAT HERE!</li>
		{% endif %}
		<li>{{ restaurant.address }}</li> <!-- {zzz% urzzzl 'results' z%} with resturant name! to make the link -->
		<li>{% timePosted restaurant.date_added %}</li>		
		<li>Put your stamp on it! Write a 
			<form method='POST' action="{% url 'add_review' %}">
				{% csrf_token %}
				<input type='hidden' value='{{ restaurant.id }}' name="rest_id">
				<input type='submit' value='review' name="prepair_review">
			</form>
		</li>
		<li>Does this restaurant suck? Well, Then
			<form method='POST' action="{% url 'stamp_out' %}">
				{% csrf_token %}
				<input type='hidden' value='{{ restaurant.id }}' name="rest_id">
				<input type='submit' value='Stamp IT Out!' name="stamp_out">
			</form>
		</li>
	</ul>
</div>
<div id='reviews_bin'>
	{% with restaurant.review_set.all as reviews %}
	{% for r in reviews %}
	<div class="review_div">
		<div class='review_user'><img src="{{ r.user.user_meta.profile_picture.url }}">
			<p>{{ r.user.get_full_name }}</p>
			<p>Rating: {{ r.rating }}</p>
			<p>{% timePosted r.date_added %}</p>
			{% if user == r.user %}
			<p>{{ r.user.get_full_name }}, This is your post!<p>
			{% endif %}
		</div> 
		<div class='review_content'>
			<p>"{{ r.content }}"</p>
		</div>
		<div>
			<form method='POST' action="{% url 'add_comment' %}">
				{% csrf_token %}
				<input type="hidden" name='review_id' value='{{ r.id }}'>
				<input type='submit' name="prepair_comment" value="Make a Comment">
			</form>
			</div>
		{% with r.comment_set.all as comment %}
		{% for c in comment %}
		<div class="comment_div">
			<div class="comment_user"><img src="{{ c.user.user_meta.profile_picture.url }}"><p>{{ c.user.get_full_name }}</p></div>
			<div class="comment_content"><p>{{ c.content  }}</p>{% timePosted c.date_added %}</p></div>
		</div>
		{% endfor %}
		{% endwith %}
	{% endfor %}
	{% endwith %}
		
	</div>
</div>
{% endblock %}